<div class="payAndReviewHeading">
    <div><h4>Review your Order</h4></div>
    <div> <button data-go-back class="goBack"><i class="fa fa-arrow-left " aria-hidden="true"></i>Go back</button></div>
  
</div>

 
<div class="payAndReviewInfo" data-review>
    <div class="review">
        <form action="/bookings" method="post" >
            <div data-review-form>
                
             
            </div>
            <button type="submit" class="checkout">Checkout</button>
        </form>
    </div>

   

</div>