<header class="main-nav">
    <div class="main-nav-logo">
        <img src="./images/logo.png" alt="" class="logo">
    </div>
    <ul class="main-nav-ul" data-nav>
        <li><a href="#" class="active" data-links>Home</a></li>
        <li><a href="#" data-links>Programs</a></li>
        <li><a href="#" data-links>Login</a></li>
    </ul>
    <div class="hamburger-menu" data-hamburger>
        <i class="fa fa-bars"></i>
    </div>
</header>
