<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head') %>
<body>
    <div class="admin-sidebar">
        <li class="admin-logo"><img src="../images/logo.png" alt="" style="width:100%"></li>
        <a href="#" class="bookings active" data-admin-link >Home</a>
        <a href="#" class="bookings" data-admin-link >Bookings</a>
        <a href="#" class="createBookings" data-admin-link >Create Bookings</a>
        <!-- <a href="#" class="addTour" data-admin-link >Tour-Guides</a> -->
      </div>

 <div class="admin-main">

        <div class="admin-main-head">
                <h2 class="admin-main-person">Admin</h2>
               <button class="logout"><a href="/auth/logout">Log Out</a></button>
        </div>

        <div class="admin-main-section" data-main-section>

            <div class="home visible" data-admin-section><%-include('./admin-sections/home') %></div> 
            <div class="adminTourGuide" data-admin-section><%-include('./admin-sections/tourGuides')%></div>
            <div class="tourGuideSignUp" data-admin-section><%-include('./admin-sections/tourGuideSignUp') %></div>

        </div>
 </div>
</body>
<script src="/adminscript.js"></script>
</html>