<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head') %>
<body>
    <div class="admin-sidebar">
        <a href="#"><img src="../images/logo.png" alt="" style="width:100%"></a>
        <a href="createBookings" data-option class="">Create Bookings</a>
      </div>

 <div class="admin-main">

        <div class="admin-main-head">
                <h2 class="admin-main-person">Tour-Guide</h2>
               <button class="logout"><a href="/auth/logout">Log Out</a></button>
        </div>

        <div class="admin-main-section" data-main-section>
           
        </div>
 </div>
</body>
</html>