<div class="addTourGuide">
    <form action="/addTourGuide" method="post">
        <input type="text" name="user_id" value="1" class="tourGuideUser">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password" placeholder="password">
        <input type="text" name="confirmPassword" placeholder="confirm Password">
        <input type="text" name="address" id="" placeholder="address">
        <input type="text" name="telephone" id="" placeholder="telephone">
        <button type="submit">submit</button>
    </form>
</div>