
<div class="adminTourcontent">
    <div class="adminView drop showContent" data-admin-tour><%-include('./tourGuide/viewTour') %></div> 
    <div class="adminTourSignUp drop" data-admin-tour><%-include('./tourGuide/tourSignUp')%></div>
</div>






